* {
  margin: 0;
  padding: 0;
}
/* about us css*/
.bar {
  height: 53px;
  background: #cbcda9;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 52px;
  margin-top: 35px;
  margin-bottom: 35px;
}
nav a {
  text-decoration: none;
  color: black;
}
.about-us {
  font-weight: 700;
}
.about-banner-container {
  height: 530px;
  background-image: url("../../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-title h1 {
  color: white;
  font-size: 96px;
  font-weight: 700;
}
.about-title p {
  font-size: 24px;
}
.btn-see-more {
  margin-top: 35px;
  width: 135px;
  height: 40px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background: #f3f25b;
  cursor: pointer;
}

/*school featured css*/
.school-featured {
  background: #ffffe9;
}
.featured {
  position: relative;
}
.featured-title {
  padding-top: 88px;
  margin-bottom: 106px;
  text-align: center;
  font-size: 45px;
  font-weight: 600px;
}
.featured-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 95px;
}
.featured-container img {
  height: 450px;
}
.featured h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 25px;
}
.text-right {
  text-align: right;
}
.btn-right-side {
  position: absolute;
  right: 0;
}
.btn-view-more {
  border: none;
  border-radius: 12px;
  padding: 17px 82px;
  margin-top: 25px;
  font-weight: 600;
  background: #f3f25b;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}
/* customer review*/
.arrow {
  display: flex;
}
.left {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.right {
  height: 50px;
  width: 50px;
  background-color: Orange;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.comma {
  height: 28px !important;
  width: 40px !important;
  position: absolute;
  top: 0;
  right: 0;
  padding: 27px;
}
.customer-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  margin-top: 152px;
  margin-bottom: 36px;
}
.customer-title h1 {
  font-size: 34px;
}
.customer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 24px;
  border: 1px solid var(--gray, #efefef);
  background: #ffffe9;
}
.customer-info img {
  height: 80px;
  width: 80px;
  margin-top: 35px;
}
.customer-info p {
  text-align: center;
  padding-left: 27px;
  padding-right: 27px;
}
.customer-name {
  margin-top: 10px;
  margin-bottom: 31px;
}

.customer-info-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
/* work section*/
.works-conatiner {
  margin-top: 152px;
  padding-top: 162px;
  height: 400px;
  background: #ffffe9;
}
.works-title {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  font-style: normal;
}
.works-title hr {
  width: 309px;
  height: 3px;
  border: none;
  background: #f3f25b;
  margin: 0 auto;
}
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works p {
  text-align: center;
}
.work-title {
  margin-top: 24px;
  margin-bottom: 10px;
}
.works-item-container {
  display: flex;
  justify-content: space-between;
  margin: 75px 10px 156px 10px;
}
