* {
  margin: 0;
  padding: 0;
}
.bar {
  height: 53px;
  background: #cbcda9;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 52px;
  margin-top: 35px;
  margin-bottom: 35px;
}
nav a {
  text-decoration: none;
  color: black;
}
.about-us {
  font-weight: 700;
}
.about-banner-container {
  height: 530px;
  background-image: url("../../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-title h1 {
  color: white;
  font-size: 96px;
  font-weight: 700;
}
.about-title p {
  font-size: 24px;
}
.btn-see-more {
  margin-top: 35px;
  width: 135px;
  height: 40px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background: #f3f25b;
  cursor: pointer;
}
